<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Trumpku</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <p><%= @haiku[0] %></p>
    <p><%= @haiku[1] %></p>
    <p><%= @haiku[2] %></p>
    <footer>
      <p>copyright &copy; Peter Reznick 2017</p>
    </footer>
  </body>
</html>
