body {
  font-family: Helvetica, Arial, sans-serif;
  background: #BF0A30;
}

footer {
  position: absolute;
  color: #002868;
  font-weight: 900;
  font-size: 44px;
  bottom: 0;
  left: 0;
  line-height: 1.2;
}

footer div.social_item {
  float: left;
  margin: 1rem;
  width: 96px;
  height: 96px;
}

footer div.counter_container {
  margin-left: 1rem;
}

footer div.counter_container p:nth-of-type(1) {
  font-size: 64px;
}

footer div.counter_container p:nth-of-type(2) {
  color: #8c8c8c;
}

footer div.instagram {
  background: url("/images/insta_white.png");
}

footer div.facebook {
  background: url("/images/fb_white.png");
}

footer div.twitter {
  background: url("/images/twitter_white.png");
}

footer > p {
  color: #bfbfbf;
  font-weight: normal;
  padding: 0 0 1rem 1rem;
  font-size: 14px;
}

header h1 {
  color: #fff;
  font-weight: 900;
  font-size: 120px;
  line-height: 1;
  padding-left: 1rem;
}

header h1 span,
footer span {
  color: #002868;
}

main div#haiku_container,
main a {
  color: #fff;
  font-style: italic;
  font-size: 36px;
  margin-top: 3rem;
  margin-left: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

main div#refresh_button a {
  display: inline-block;
  margin-top: 50px;
  margin-left: 1rem;
  font-style: normal;
}

main div#refresh_button a:hover {
  color: #8c8c8c;
}

/*Clearfix*/
footer div.social_container:after {
  display: block;
  content: '';
  clear: both;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    padding: 2rem;
  }
  footer {
    padding: 2rem;
  }
  footer div.counter_container p {
    font-size: 60px;
  }
  footer div.counter_container p:first-of-type {
    font-size: 150px;
  }
  header h1 {
    font-size: 240px;
    line-height: .8;
  }
  header span {
    display: block;
  }
  main div#haiku_container {
    margin-top: 50px;
  }
  main div#haiku_container p {
    font-size: 50px;
    line-height: 1.5;
  }
  main div#refresh_button a {
    font-size: 60px;
  }
  footer div.social_item {
    width: 250px;
    height: 250px;
    background-size: cover;
  }
  footer > p {
    font-size: 25px;
  }
}
